ManagerGpsMap/WcfServicedinhvi/Connected Services/ServiceReference1/TTASService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DP.Data.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DP.Data.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdto_theodoitructuyen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dto_theodoitructuyen" nillable="true" type="tns:dto_theodoitructuyen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdto_theodoitructuyen" nillable="true" type="tns:ArrayOfdto_theodoitructuyen" />
  <xs:complexType name="dto_theodoitructuyen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ad1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ad2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ad3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Car_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Day_distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Devid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Devimei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Devname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Devstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver_phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Drivername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hotline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number_open_door" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Route_time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="System_expire_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time_expired" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trktime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dto_theodoitructuyen" nillable="true" type="tns:dto_theodoitructuyen" />
</xs:schema>