ManagerGpsMap/WcfServicedinhvi/Connected Services/ServiceRefGps/TTASService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TTASService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dev.dinhvihopquy.com/TTASService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dev.dinhvihopquy.com/TTASService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dev.dinhvihopquy.com/TTASService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TTASService" />
      <xsd:import schemaLocation="http://dev.dinhvihopquy.com/TTASService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DP.Data.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TTASIService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="TTASIService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="TTASIService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="TTASIService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="TTASIService_fn_login_InputMessage">
    <wsdl:part name="parameters" element="tns:fn_login" />
  </wsdl:message>
  <wsdl:message name="TTASIService_fn_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:fn_loginResponse" />
  </wsdl:message>
  <wsdl:message name="TTASIService_fn_theodoitructuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:fn_theodoitructuyen" />
  </wsdl:message>
  <wsdl:message name="TTASIService_fn_theodoitructuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:fn_theodoitructuyenResponse" />
  </wsdl:message>
  <wsdl:portType name="TTASIService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/TTASIService/GetData" message="tns:TTASIService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TTASIService/GetDataResponse" message="tns:TTASIService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/TTASIService/GetDataUsingDataContract" message="tns:TTASIService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TTASIService/GetDataUsingDataContractResponse" message="tns:TTASIService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fn_login">
      <wsdl:input wsaw:Action="http://tempuri.org/TTASIService/fn_login" message="tns:TTASIService_fn_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TTASIService/fn_loginResponse" message="tns:TTASIService_fn_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="fn_theodoitructuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/TTASIService/fn_theodoitructuyen" message="tns:TTASIService_fn_theodoitructuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TTASIService/fn_theodoitructuyenResponse" message="tns:TTASIService_fn_theodoitructuyen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_TTASIService" type="tns:TTASIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/TTASIService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/TTASIService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fn_login">
      <soap:operation soapAction="http://tempuri.org/TTASIService/fn_login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fn_theodoitructuyen">
      <soap:operation soapAction="http://tempuri.org/TTASIService/fn_theodoitructuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TTASService">
    <wsdl:port name="BasicHttpBinding_TTASIService" binding="tns:BasicHttpBinding_TTASIService">
      <soap:address location="http://dev.dinhvihopquy.com/TTASService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>