ManagerGpsMap/WcfServicedinhvi/Connected Services/ServiceRefGps/TTASService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TTASService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TTASService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dev.dinhvihopquy.com/TTASService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DP.Data.DTO" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Resp_Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="Group_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kpi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="User_group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resp_Login" nillable="true" type="tns:Resp_Login" />
  <xs:complexType name="Resp_Theodoitructuyen">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DP.Data.DTO" minOccurs="0" name="List_theodoi" nillable="true" type="q1:ArrayOfdto_theodoitructuyen" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resp_Theodoitructuyen" nillable="true" type="tns:Resp_Theodoitructuyen" />
</xs:schema>